/*--- VARIABLES ---*/
:root {
    /* colors */
    --color-primary: rgba(20, 37, 84, 0.5);
    --color-secondary: #f5f5f5;
    --color-text: #ffffff;
    --color-muted: rgb(238, 238, 238, 0.8);
    --bg-gradient: linear-gradient(
        145deg,
        hsl(195, 100%, 50%) 0%,
        #0055cc 40%,
        #0055cc 50%,
        #0055cc 60%,
        hsl(195, 100%, 50%) 100%
    );
    /* night-time variant (use when sun is down) */
    --bg-gradient-night: linear-gradient(145deg, #3f2b96 0%, #020024 50%, #3f2b96 100%);
    --color-glass: rgba(255, 255, 255, 0.2);
    --search-bg: rgba(255, 255, 255, 0.2);
    --autocomplete-bg: hsla(215, 82%, 43%, 0.9);
    --autocomplete-bg-night: hsl(243, 100%, 7%, 0.9);
    --autocomplete-thumb: hsla(0, 0%, 95%, 0.2);
    --scroll-btn-bg: rgba(255, 255, 255, 0.1);
    --card-bg: rgba(255, 255, 255, 0.05);
    --card-bg-hover: rgba(255, 255, 255, 0.03);
    --next-day-bg: rgba(236, 236, 236, 0.1);
    --border-light: rgba(255, 255, 255, 0.1);
    --border-med: rgba(255, 255, 255, 0.15);
    --border-strong: rgba(255, 255, 255, 0.2);
    --glass-shadow-dark: rgba(0, 0, 0, 0.37);
    --glass-shadow-light: rgba(255, 255, 255, 0.12);
    --hover-bg-item: rgb(255, 255, 255, 0.2);
    --card-shadow: rgba(0, 0, 0, 0.2);
    --border-xstrong: rgba(255, 255, 255, 0.2);
    /* font sizes */
    --font-size-logo-icon: 2.5rem;
    --font-size-logo-title: 1.5rem;
    --font-size-input: 1.2rem;
    --font-size-placeholder: 1rem;
    --font-size-md: 1.25rem;
    --font-size-lg: 5.75rem;
    --font-size-title: 1.25rem;
    --font-size-week-day: 1.2rem;
    --font-size-datetime: 1rem;
    --font-size-max-temp: 1.1rem;
    --font-size-small-lg: 3.5rem;
    --font-size-small: 1.5rem;
    --font-size-mini: 0.85em;
    /* spacing */
    --spacing-05: 0.5rem;
    --spacing-08: 0.8rem;
    --spacing-1: 1rem;
    --spacing-2: 2rem;
    --spacing-3: 3rem;
    /* Width  */
    --icon-lg-dim: 200px;
    --icon-sm-dim: 50px;
    --scroll-btn-dim: 40px;

    /* border-radius */
    --border-radius-24: 1.5rem;
    --icon-size: 1.5rem;
    --border-radius-18: 1.125rem;

    /* typography */
    --font-family: "Inter", sans-serif;
}

/*--- RESET & BASE ---*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: var(--bg-gradient);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: var(--spacing-1);
    font-family: var(--font-family);
    color: var(--color-text);
    cursor: default;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
    gap: var(--spacing-1);
}

ul {
    list-style: none;
}

/* UTILITY */
.glass-effect {
    background: var(--color-glass);
    backdrop-filter: blur(10px);
    box-shadow:
        0 8px 32px 0 var(--glass-shadow-dark),
        inset 0 0 15px var(--glass-shadow-light);
    border-top: 1px solid var(--border-xstrong);
    border-bottom: 1px solid var(--border-xstrong);
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

/*--- HEADER ---*/

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

/* logo */
.logo {
    display: flex;
    align-items: center;
    gap: var(--spacing-05);
}

.logo__icon {
    display: flex;
    align-items: center;
    font-size: var(--font-size-logo-icon);
    color: var(--color-text);
    padding: var(--spacing-05);
    border-radius: var(--border-radius-18);
}

.logo__title {
    font-size: var(--font-size-logo-title);
    font-weight: 600;
}

/* search bar */
.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 400px;
    background-color: var(--search-bg);
    border-radius: var(--border-radius-24);
}
.search-bar__icon {
    width: var(--icon-size);
    opacity: 0.75;
    margin-left: var(--spacing-1);
}

.search-bar__input {
    width: 100%;
    background: none;
    padding: var(--spacing-08) var(--spacing-1) var(--spacing-08) var(--spacing-05);
    font-size: var(--font-size-input);
    color: var(--color-text);
    border: none;
    border-radius: inherit;
    outline: none;
}
.search-bar__input::placeholder {
    font-size: var(--font-size-placeholder);
    color: var(--color-text);
    opacity: 0.5;
}

.search-bar__autocomplete {
    position: absolute;
    background: var(--autocomplete-bg);
    height: 150px;
    top: 100%;
    left: 0;
    right: 0;
    overflow: auto;
    border-radius: var(--border-radius-18);
    margin-top: var(--spacing-05);
    padding: var(--spacing-1);
    z-index: 100;
    scroll-behavior: smooth;
}

.search-bar__autocomplete::-webkit-scrollbar {
    width: 20px;
}
.search-bar__autocomplete::-webkit-scrollbar-thumb {
    background: var(--autocomplete-thumb);
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;
}
.search-bar__autocomplete::-webkit-scrollbar-track {
    background: none;
}

.search-bar__autocomplete-item {
    margin-bottom: 10px;
    padding: var(--spacing-05) var(--spacing-1);
    font-size: 1.2rem;
    border-top: 1px solid var(--border-light);
    border-bottom: 1px solid var(--border-light);
    border-radius: var(--border-radius-18);
    transition: all 0.3s ease;
    cursor: pointer;
    transition: all 0.15s ease;
}
.search-bar__autocomplete-item:hover {
    background: var(--hover-bg-item);
}
.search-bar__autocomplete-item:last-child {
    margin-bottom: 0;
}

/*--- MAIN ---*/
.main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
}

/* card */
.card {
    padding: var(--spacing-2);
    border-radius: var(--border-radius-18);
}
.card__text--md {
    font-size: var(--font-size-md);
    font-weight: 500;
}
.card__text--lg {
    font-size: var(--font-size-lg);
    font-weight: bold;
    align-self: center;
}
.card__text--muted {
    color: var(--color-muted);
}
.card__icon--lg {
    width: var(--icon-lg-dim);
    height: var(--icon-lg-dim);
}
.card__datetime {
    margin-bottom: var(--spacing-1);
    flex-wrap: wrap;
}

.card__metrics {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-1);
    padding: var(--spacing-2) 0 var(--spacing-08);
    border-top: 1px solid var(--border-med);
}
.card__metric {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-08);
    min-width: 110px;
    padding: var(--spacing-08);
    background-color: var(--card-bg);
    opacity: 0.65;
    border: 1px solid var(--border-strong);
    border-radius: var(--border-radius-18);
    transition: all 0.15s ease;
}
.card__metric:hover {
    opacity: 1;
    background-color: var(--card-bg-hover);
}
.card__metric-icon {
    width: 38px;
    height: 38px;
    filter: invert(50%) sepia(100%) saturate(100%) hue-rotate(200deg) brightness(190%) contrast(80%);
}

.card__text--title {
    font-size: var(--font-size-title);
    font-weight: 600;
    text-transform: capitalize;
}

.card__main--scrollable {
    position: relative;
}

.card__scroll-btn {
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: var(--scroll-btn-dim);
    height: var(--scroll-btn-dim);
    background-color: var(--scroll-btn-bg);
    font-size: var(--font-size-logo-icon);
    color: var(--color-text);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.card__scroll-btn-img {
    width: 32px;
    height: 32px;
}
.card__scroll-btn:hover {
    width: 52px;
    height: 52px;
    background: var(--color-primary);
}
.card__scroll-btn:hover .card__scroll-btn-img {
    width: 42px;
    height: 42px;
}
.card__scroll-btn--left {
    left: -26px;
}
.card__scroll-btn--right {
    right: -26px;
}

.card__next-days-forecast {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
    margin-top: var(--spacing-1);
    padding: var(--spacing-1);
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.card__next-days-forecast::-webkit-scrollbar {
    display: none;
}
.card__next-day-forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-05);
    padding: var(--spacing-08);
    min-width: 125px;
    background-color: var(--next-day-bg);
    border: 1px solid var(--border-strong);
    border-radius: var(--border-radius-18);
    transition: all 0.3s ease;
}
.card__next-day-forecast:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 20px var(--card-shadow);
    transition: all 0.3s ease;
}

.card__week-day {
    font-size: var(--font-size-week-day);
    font-weight: 500;
}
.card__datetime {
    font-size: var(--font-size-datetime);
    color: var(--color-muted);
}
.card__icon--sm {
    width: var(--icon-sm-dim);
    height: var(--icon-sm-dim);
}
.card__max-temp {
    font-size: var(--font-size-max-temp);
    font-weight: 600;
}
.card__min-temp {
    font-size: var(--font-size-datetime);
    color: var(--color-muted);
}

/* Footer */
.footer {
    display: flex;
    justify-content: end;
    margin-top: -0.5rem;
    margin-bottom: 1.92px;
    font-size: var(--font-size-mini);
    color: var(--color-muted);
}

.footer__api-ref {
    color: var(--color-muted);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
}

.footer__api-ref:hover {
    color: rgb(255 226 0);
    text-decoration: underline;
}

/* MEDIA */
@media (max-width: 1000px) {
    .card__scroll-btn {
        display: none;
    }
}

@media (min-width: 394px) and (max-width: 496px) {
    .card__metrics {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (max-width: 700px) {
    .header {
        flex-direction: column;
        gap: var(--spacing-1);
    }

    .search-bar {
        width: 100%;
        max-width: none;
    }

    .card__header {
        flex-direction: column-reverse;
        align-items: center;
        gap: var(--spacing-1);
    }
    .card__main {
        flex-direction: row-reverse;
        justify-content: center;
        margin: 25px 0;
    }
    .card__icon--lg {
        width: 45px;
        height: 45px;
    }
    .card__text--lg {
        font-size: var(--font-size-small-lg);
    }
    .card__text#city {
        font-size: var(--font-size-small);
    }
    .card__text#condition {
        font-size: var(--font-size-max-temp);
        color: var(--color-muted);
    }
    .card__datetime {
        flex-direction: row-reverse;
    }
    .card__metrics {
        gap: var(--spacing-08);
    }
    .card__metric {
        min-width: 90px;
        font-size: var(--font-size-mini);
        gap: var(--spacing-05);
    }
    .card__metric-icon {
        width: 32px;
        height: 32px;
    }

    .card__next-days-forecast {
        padding: var(--spacing-05);
    }
    .card__next-day-forecast {
        min-width: 100px;
        padding: var(--spacing-05);
    }
}

/* Dinamic Class */
.body-night {
    background: var(--bg-gradient-night);
}
.autocomplete-night {
    background: var(--autocomplete-bg-night);
}
.hidden {
    display: none;
}
